body{
    background-color: black;
    margin: 0;
}
#cabecera{
    background-color: rgb(231, 181, 43);
    color: black;
    display: flex;
    justify-content: center;
    gap: 120px;
    padding: 25px;
    position: sticky;
    font-size: 18px;
    font-weight: bold;
}
#titulo{
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}
#subtitulo{
    color: white;
    text-align: center;
}
#contenedor{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px;
    position: relative;
}
.logos img{
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 400px;
    height: 225px;
}
.logos{
    background-color: gray;
    color: white;
    transition: 0.3s;
}
.logos:hover{
    transform: scale(1.1);
    filter: brightness(130%);
}
.nombre{
    font-weight: bold;
}
#boton img{
    width: 120px;
    height: 120px;
    position:fixed;
    bottom: 0;
    right: 0;

}